1. Import necessary library
2. Data collecting
    * District code collection
    * Combine 5 years csv data to one dataframe
3. Data Cleansing
4. Data Analysis via data visualization
5. Findings on data visualization
6. Getting venue data via Foursquare API
7. K-Mean clusting modelling on different district

# Import necessary library

In [1]:
import pandas as pd
import requests
!pip install geocoder
import geocoder
!pip3 install folium
import folium
!pip3 install beautifulsoup4
from bs4 import BeautifulSoup
from matplotlib import pyplot as plt
!pip3 install seaborn 
import seaborn as sns
!pip install missingno
import missingno as msno
import numpy as np

Requirement already satisfied: geocoder in c:\users\chun ho tse\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: click in c:\users\chun ho tse\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in c:\users\chun ho tse\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: requests in c:\users\chun ho tse\appdata\roaming\python\python37\site-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in c:\users\chun ho tse\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: ratelim in c:\users\chun ho tse\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: idna<3,>=2.5 in c:\users\chun ho tse\appdata\roaming\python\python37\site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\chun ho tse\appdata\roaming\python\python37\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\chun ho tse\anaconda3\lib\site-packages (from requests->geocoder) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chun ho tse\appdata\roaming\python\python37\site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: decorator in c:\users\chun ho tse\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)
Requirement already satisfied: folium in c:\python39\lib\site-packages (0.12.1)
Requirement already satisfied: jinja2>=2.9 in c:\python39\lib\site-packages (from folium) (3.0.1)
Requirement already satisfied: numpy in c:\python39\lib\site-packages (from folium) (1.21.1)
Requirement already satisfied: branca>=0.3.0 in c:\python39\lib\site-packages (from folium) (0.4.2)
Requirement already satisfied: requests in c:\python39\lib\site-packages (from folium) (2.26.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\python39\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\python39\lib\site-packages (from requests->folium) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\python39\lib\site-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\python39\lib\site-packages (from requests->folium) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\python39\lib\site-packages (from requests->folium) (2.0.4)

WARNING: You are using pip version 21.1.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: beautifulsoup4 in c:\python39\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\python39\lib\site-packages (from beautifulsoup4) (2.2.1)

WARNING: You are using pip version 21.1.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: seaborn in c:\python39\lib\site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in c:\python39\lib\site-packages (from seaborn) (3.4.2)
Requirement already satisfied: numpy>=1.15 in c:\python39\lib\site-packages (from seaborn) (1.21.1)
Requirement already satisfied: pandas>=0.23 in c:\python39\lib\site-packages (from seaborn) (1.3.1)
Requirement already satisfied: scipy>=1.0 in c:\python39\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: six in c:\python39\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

WARNING: You are using pip version 21.1.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: missingno in c:\users\chun ho tse\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: numpy in c:\users\chun ho tse\anaconda3\lib\site-packages (from missingno) (1.16.5)
Requirement already satisfied: seaborn in c:\users\chun ho tse\anaconda3\lib\site-packages (from missingno) (0.9.0)
Requirement already satisfied: matplotlib in c:\users\chun ho tse\anaconda3\lib\site-packages (from missingno) (3.1.1)
Requirement already satisfied: scipy in c:\users\chun ho tse\anaconda3\lib\site-packages (from missingno) (1.3.1)
Requirement already satisfied: pandas>=0.15.2 in c:\users\chun ho tse\anaconda3\lib\site-packages (from seaborn->missingno) (0.25.1)
Requirement already satisfied: cycler>=0.10 in c:\users\chun ho tse\anaconda3\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chun ho tse\anaconda3\lib\site-packages (from matplotlib->missingno) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\chun ho tse\anaconda3\lib\site-packages (from matplotlib->missingno) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\chun ho tse\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\chun ho tse\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn->missingno) (2019.3)
Requirement already satisfied: six in c:\users\chun ho tse\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.12.0)
Requirement already satisfied: setuptools in c:\users\chun ho tse\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (41.4.0)

## Import Data

In [2]:
data_2015 = pd.read_csv('./data/crime-incident-reports-2015.csv')
data_2016 = pd.read_csv('./data/crime-incident-reports-2016.csv')
data_2017 = pd.read_csv('./data/crime-incident-reports-2017.csv')
data_2018 = pd.read_csv('./data/crime-incident-reports-2018.csv')
data_2019 = pd.read_csv('./data/crime-incident-reports-2019.csv')
data_2020 = pd.read_csv('./data/crime-incident-reports-2020.csv')
district = pd.read_csv('./data/district.csv')

C:\Users\Chun Ho Tse\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Checking their shape and total row count

In [3]:
print('2015: ',data_2015.shape)
print('2016: ',data_2016.shape)
print('2017: ',data_2017.shape)
print('2018: ',data_2018.shape)
print('2019: ',data_2019.shape)
print('2020: ',data_2020.shape)
total_row = data_2015.shape[0] + data_2016.shape[0] + data_2017.shape[0] + data_2018.shape[0] + data_2019.shape[0] + data_2020.shape[0] 
print(total_row)

2015:  (53597, 17)
2016:  (99430, 17)
2017:  (101338, 17)
2018:  (98888, 17)
2019:  (19782, 17)
2020:  (70894, 17)
443929

## Concat all 5 years data into one dataframe

In [4]:
data = pd.concat([data_2015,data_2016,data_2017,data_2018,data_2019,data_2020])
data.shape

(443929, 17)

In [5]:
data.head(5)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,C11,356,NaN,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,Fraud,FRAUD - IMPERSONATION,A1,172,NaN,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,Fraud,FRAUD - IMPERSONATION,E18,525,NaN,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,159,NaN,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"

Setting district to dictionary format

In [6]:
district = district.set_index("DISTRICT")
#district.head()

In [7]:
dict_district = district.to_dict()
dict_district = dict_district['DISTRICT_NAME']
dict_district

{'A1': 'DOWNTOWN',
 'A15': 'CHARLESTOWN',
 'A7': 'EAST BOSTON',
 'B2': 'BOXBURY',
 'B3': 'MATTAPAN',
 'C6': 'SOUTH BOSTON',
 'C11': 'DORCHESTER',
 'D4': 'SOUTH END',
 'D14': 'BRIGHTON',
 'E5': 'WEST BOXBURY',
 'E13': 'JAMAICA PLAIN',
 'E18': 'HYDE PARK'}

Dropping rows if district is nan or external

In [12]:
data = data.drop(data[data.DISTRICT=='External'].index)
data = data[data.DISTRICT.notna()]
data.shape

(440070, 17)

Adding district name into data

In [13]:
district_name=[]
for i in data['DISTRICT']:
    for j in dict_district:
        if (i ==j):
            district_name.append(dict_district[j])

In [14]:
data['DISTRICT'].unique()
#data['District_name'] = district_name
#data.head(15)

array(['B2', 'C11', 'A1', 'E18', 'D4', 'B3', 'C6', 'D14', 'A7', 'E5',
       'E13', 'A15'], dtype=object)

In [19]:
data['District_name'] = district_name
data.head()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,District_name
INCIDENT_NUMBER,,,,,,,,,,,,,,,,,
I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",BOXBURY
I192061894,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,C11,356,NaN,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)",DORCHESTER
I192038828,1107,Fraud,FRAUD - IMPERSONATION,A1,172,NaN,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)",DOWNTOWN
I192008877,1107,Fraud,FRAUD - IMPERSONATION,E18,525,NaN,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)",HYDE PARK
I182090828,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,159,NaN,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)",SOUTH END

## Visualizing crime count by District and different Categeory

In [ ]:
dis = data.groupby(by=["DISTRICT","OFFENSE_CODE_GROUP"]).size()
s = dis.to_frame()
s = s.reset_index()
s.columns = ["District","Crime_cat","Crime Counts"]
ax = sns.barplot(x ="District", y = 'Crime Counts', data = s, hue = "Crime_cat" , dodge=False)
plt.legend(title = 'Crime Categeory', bbox_to_anchor = (1, 1))

In [ ]:
data['DISTRICT'].unique()

In [ ]:
CLIENT_ID = 'AQ4P5KPELSSWLOEVTEC0ET4FNEVSJJATZC1NUQ13YFMY11W1' # your Foursquare ID
CLIENT_SECRET = 'BMGVJICF0ZI0OAXWYEQRAU3DD4S503UH3VEG0BCKAWKIOWMF' # your Foursquare Secret
ACCESS_TOKEN = '1JVCUVC4B0EDL4JMLOSQ2INS35E3R2VYMEWS55U4UZW0FBMV' # your FourSquare Access Token
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

In [ ]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [ ]:
PostalCode = data['DISTRICT'].unique()
latitude=[]
longitude=[]
for i in range (len(PostalCode)):
    g = geocoder.arcgis('{}, Boston, MA'.format(PostalCode[i]))
    lat_lng_coords = g.latlng
    latitude.append(lat_lng_coords[0]) 
    longitude.append(lat_lng_coords[1])

In [ ]:
g = geocoder.arcgis('East Boston, Boston, MA')
lat_lng_coords = g.latlng
lat_lng_coords

In [ ]:
g = geocoder.arcgis('ROXBURY, Boston, MA')
lat_lng_coords = g.latlng
lat_lng_coords
latitude=lat_lng_coords[0]
longitude=lat_lng_coords[1]

In [ ]:
van_map = folium.Map(location=[latitude, longitude], zoom_start=13)
folium.CircleMarker(
        [latitude, longitude],
        radius=3,
        popup='ROXBURY, Boston, MA',
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(van_map)

In [ ]:
van_map

In [ ]:
import json
import urllib.request
url = 'https://data.boston.gov/api/3/action/datastore_search?resource_id=792031bf-b9bb-467c-b118-fe795befdf00'  
fileobj = urllib.request.urlopen(url)
response_dict = json.loads(fileobj.read())
print(response_dict)

In [ ]:
pd1 = pd.DataFrame()